
div.left{
height:500px;
width:250px;
border-style: solid;
background-color: black;
text-align:center;
border-top-left-radius:25px;
border-bottom-left-radius:25px;

}

div.temperature{
  color:white;
  padding-top:200px;
  padding-left:10px;
  font-weight:bold;
  font-size: 50px;
}

div.location{
  color:white;
  padding-bottom:300px;
  padding-left:10px;
  font-weight:bold;
  font-size: 40px;
}

div.top{
  background-color:#FAEBD7;
  height:250px;
  width:250px;
  left:264px;
  top:8px;
  position: absolute;
  border-top-right-radius:25px;
}

div.bottom{
  background-color:#00FFFF;
  height:264px;
  width:250px;
  left:264px;
  top:250px;
  position: absolute;
  border-bottom-right-radius:25px;
  text-align: center;
}

#icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  bottom:90px;
  position: absolute;
  left:75px;
}

#humidity{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  top:48px;
  left:70px;
  position: absolute;

}


#humidity1{
color:white;
font-weight:bold;
font-size: 40px;
top:50px;
right:90px;
position:absolute;

}

div.wind{
color:white;
font-weight:bold;
font-size: 40px;
left:62px;
top:130px;
position:absolute;
}

#direction{
position:absolute;
bottom:-50px;
left:29px;
}
